.loho_list{
    .header{
        display:flex;
        justify-content:space-between;
        padding:0 0.2rem;
        line-height:0.8rem;
        font-size:0.293333rem;
        text-align:center;
        background-color:#fff;
        border-bottom:0.013333rem solid #ccc;
        li{
            flex:2;
        }
        li:nth-child(2){
            flex:4;
            width:3.133333rem;
            text-align:right;
            font-size:0.213333rem;
        }
        .car,.showMenu{
            text-align:right;
        }
    }
    .f-dropdown{
        position: fixed;
        top:0.533333rem;
        display: block;
        width: auto!important;
        right: .5rem;
        margin-top: 0.173333rem;
        border: 0.013333rem solid #e1e1e1;
        background:#fff;
        height: 1.266667rem;
        width: 2.0rem;
        margin-right:-0.4rem;
        z-index:1000;
        li{
            line-height: 0.533333rem;
            font-size:0.2rem;
            margin:0.08rem 0.133333rem;
            margin-top:0.08rem;
            i{
                font-size:0.333333rem;
                margin-right:0.133333rem;
            }
        }
    }
    .shopping{
        padding-top:0.8rem;
        .list{
            display:flex;
            width:100%;
            border-bottom:0.013333rem solid #ccc;
            li{
                flex:1;
                display:flex;
                flex-direction:column;
                justify-content:space-around;
                line-height:0.6rem;
                text-align:center;
                height: 0.6rem;
            }
            .showM{
                position: relative;
                margin-left:0.133333rem;
                span{
                        float:left;
                        position: absolute;
                        left:0.133333rem;
                    }
                    .tps{
                        float:right;
                        color:#000;
                        position: absolute;
                        left:0.666667rem;
                    }
            }
        } 
        .shopping_1{
            .shopping_2{
                height: 3.373333rem;
                width: 2.426667rem;
                margin-right:0.133333rem;
                float:left;
                list-style:none;
                margin-bottom:0.163333rem;
                img{
                    height: 1.466667rem;
                    width: 2.066667rem;
                    background:blue;
                    margin:30px auto;
                    margin-bottom:0.266667rem;
                }
                .isNew{
                    color:#E51C23;
                    padding-left:0.066667rem;
                    font-size:0.16rem;
                    position:absolute;
                }
                .name{
                    height: 0.56rem;
                    width: 90%;
                    font-size:0.16rem;
                    line-height:0.293333rem;
                    text-overflow:ellipsis;
                    overflow:hidden;
                    color:#000;
                    margin-left:0.133333rem;
                }
                .price{
                    margin-top:0.066667rem;
                    margin-left:0.133333rem;
                    .price1{
                        color:#E51C23;
                        font-size:0.186667rem;
                    }
                    .price2{
                        color:#ccc;
                        font-size:0.16rem;
                        float:right;
                        margin-top:0.04rem;
                        text-decoration:line-through;
                    }
                }
                .salesNew{
                    float:right;
                    margin-top:-0.2rem;
                    margin-right:0.133333rem;
                    font-size:0.16rem;
                    color:#c1c1c1;
                }
            }
            .shopping_2:nth-child(2n){
                margin-right:0;
            }
        }
    }
}