.loho_commonality{
    height:0.733333rem;
    position:fixed;
    bottom:0;
    width:100%;
    background:#fff;
    border-top:1px solid #E7E7E7;
    ul{
        display:flex;
        li{
            flex:1;
            display:flex;
            flex-direction:column;
            justify-content:space-around;
            height:0.733333rem;
            font-size:0.16rem;
            text-align:center;
            // line-height:0.733333rem;
            a{ 
                height:100%;
                display:flex;
                flex-direction:column;
                justify-content:space-around;
                color:#333;
                i{
                    font-size:0.373333rem;
                }
            }
            i{
                font-size:0.373333rem;
            }
        }
    }  
}