header{
    .img{
        width: 36px;height: 53px;
        // background-color:
        img{width: 100%;height: 100%;}
        position: absolute;
        left:30px;
        top:3px;
    }
    h1{
        color:#fff;
        font-size: 30px;
        position: absolute;
        left:70px;
        top:10px;
        text-shadow: 0 0 10px #fff,
            0 0 20px #8c3c3c, 
            0 0 30px #705f5f, 
            0 0 40px #255f9e,
            0 0 70px #bd2130, 
            0 0 80px rgba(39, 82, 129, 0.25), 
            0 0 10px #6f2b32,
            0 0 10px #84323a;
    }
    
    .j_ss{
        i{
            font-size: 22px;
            position: absolute;
            left:270px;
            top:3px;
        }
        width: 300px;
        position: absolute;
        right:500px;
        top:10px;
    }
    .j_hy{
        i{font-size: 18px;}
        font-size: 14px;
        position: absolute;
        right:220px;
        top:16px;
        color:#fff;

    }
    .j_zw{
        i{font-size: 18px;}
        font-size: 14px;
        position: absolute;
        right:130px;
        top:16px;
        color:#fff;
    }
    .j_tc{
        font-size: 12px;
        color: #fff;
        // background-color:#007bff;
        padding:5px;
        // border-radius:5px;
        // float:right;
        // border: 1px solid #ccc;
        position: absolute;
        right:40px;
        top:14px;
    }
}