
// #box{position:relative;}

.header{position: fixed;left: 0;right: 0; height: 60px;background-color: #3385ff;}

.body {
    perspective-origin: 0% 50%;
    perspective: 800px;
    background:url("./background.jpg");
    position: fixed; 
    top: 60px; 
    left: 0; 
    right: 0; 
    bottom: 0;
}

nav,
main {
    transition: -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out;
    transition: transform 150ms ease-out, -webkit-transform 150ms ease-out;
}

nav {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;    
    bottom: 0;
    width: 255px;
    background:url("./background.jpg");
    transform: translateX(-255px);
}
nav.menu-active {
    transform: translateX(0);
}
nav.menu-hover {
    transform: translateX(-15em);
}
nav h1 {
  z-index: 100;
  display: block;
  position: absolute;
  top: 0;
  right: -60px;
  height: 65px;
  width: 60px;
  line-height: 60px;
  font-size: .8em;
  font-weight: 800;
  letter-spacing: 1px;
  color: #9DC6D1;
  text-transform: uppercase;
  text-align: center;
  background-color: #353441;
  cursor: pointer;
}
nav h1:hover {
  color: #353441;
  background: #fff;
}
nav li {
    display: inline-block;
    padding: 0 1em;
    width: 100%;
    height: 60px;
    color: #9DC6D1;
    line-height: 60px;
    background:url("./background.jpg");
}
nav li:nth-of-type(2n) {
    background-color: #3a3947;
}
nav li:hover {
    background: #fff;
}

main {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    
    transform-origin: 0%;

}
main.menu-active {
  border-radius: .001px;
  transform: translateX(16em) rotateY(15deg);
}
main.menu-active:after {
  visibility: visible;
  opacity: 1;
  transition: opacity 150ms ease-out, visibility 0s;
}
main.menu-hover {
    border-radius: .001px;
    transform: translateX(1em) rotateY(1deg);
}

